*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: 'Poppins', sans-serif;
  background: #E5E5E5;
}

body::before{
  content: '';
  display:block;
  width: 100%;
  height: 436px;
  background: #535971;
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
}

header{
  width: 750px;
  margin: 140px auto 0;
  color: #FFFFFF;
}

.tittle {
  width: 417px;
  height: 124px;
  display: flex;
  flex-direction: column;
  gap: 18px;
  
}

h1{
  font-family: 'Staatliches', cursive;
  font-size: 48px;
  font-weight: 400;
}

.tittle p {
  font-size: 18px;
  font-weight: 400;
}

form {
  width: 750px;
  background: #FFFFFF;
  border-radius: 20px 20px 0 0;
  margin: 58px auto 0;
  padding: 64px 64px 53px 64px; 
}

fieldset{
  border: none;
  margin-bottom: 14px;
  
}

.first-legend{
  color: #535971;
  font-size: 24px;
  font-family: 'Staatliches';
  font-weight: 400;
  line-height: 34px;
  padding-bottom: 16px;
  border-bottom: solid 1px #E6E6F0;
  margin-bottom: 36px;
}

.content-wrapper {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-bottom: 16px;
}

.content-wrapper label{
  color: #4E4958;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
}

.content-wrapper input{
  width: 100%;
  height: 56px;
  border-radius: 8px;
  border: 1px solid #E6E6F0;
  background:#FAFAFC;
}

.content-wrapper label span{
  color: #C1BCCC;
  font-size: 12px;
  font-weight: 400;
  line-height: 20px;
  margin-left: 9px;
}

.col-2{
  width: 622px;
  display: flex;
  gap: 22px;
}

.col-2 > div:nth-child(1){
  width: 300px;
}

.col-2 > div:nth-child(2){
  width: 300px;
}

.second-legend{
  color: #535971;
  font-size: 20px;
  font-family: 'Staatliches';
  font-weight: 400;
  line-height: 34px;
  margin-bottom: 11px;
}

.col-3{
  display: flex;
  
}

.col-3 > div:nth-child(1){
  margin-right: 32px;
  width: 300px;
}

.col-3 >div:nth-child(2){
  margin-right: 10px;
  width: 140px;
}

.col-3 >div:nth-child(3){
  width: 140px;
}

footer{
  width: 750px;
  height: 160px;
  background: #535971;
  margin: 0 auto 150px;
  border-radius: 0 0 20px 20px;
}

footer input{
  margin: 52px 71px;
  background: #FF5374;
  width: 608px;
  color: #FFFFFF;
  border: none;
  height: 56px;
  border-radius: 20px;
  padding:15px 40px;
  font-size: 20px;
  font-family: 'Staatliches';
  font-weight: 400;
  line-height: 26px;
  cursor: pointer;
}

footer input:hover{
  background: #d54662;
}

input:invalid {
  border: solid red 2px;
}